$white_color: rgb(255, 255, 255);
$grey_color: rgb(241, 242, 245);
$beige_color: rgb(238, 234, 227);
$black_color: rgb(0, 0, 0);
$red_color: rgb(255, 0, 0);
    
$green_color_40: rgb(102, 208, 114);
$green_color_10: rgb(224, 252, 215);